<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  test page
  <script>
    /**
     * 预设的指令
     */
    function getCookie() {
      return document.cookie
    }
    console.log(' === next log is from:', location.host, ' === ')
    console.log('cookie:', document.cookie)
    // console.log(parent.document.location);
    console.log(' === log end === ')
    function receiveMessage(event) {
      console.log('receive a command "' + event.data + '" from: ', event.origin);
      /*
      * 如何证明这个人是可信的？这是最重要的。也许这个问题解决不了就没希望了！
      */
      if (event.origin !== 'http://' + window.name) return;
      if (event.data !== 'getCookie') return;
      console.log('bingo! rungning ' + event.data)
      // 下面就是这个指令的返回的内容，
      var message = getCookie()
      event.source.postMessage(message, event.origin)
    }
    window.addEventListener("message", receiveMessage, false);
  </script>
</body>
</html>